.topbar-container{
    background-color: #113B73;
    width: 96%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    position: relative;
    height: 2.1rem;
    box-shadow: rgba(0, 35, 81, 0.03) 0px 4px 15px;
}

.topbar-back-button{
    float: left;
    display: flex;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.topbar-logo{
    float: right;
}

.topbar-label{
    font-size: 1.44rem;
}

.topbar-label-button{
    margin-left: 1rem;
}

.topbar-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
}

@media only screen and (max-width: 576px) {
    .topbar-label{
        font-size: 1.2rem;
    }

    .topbar-label-button{
        margin-left: 0.7rem;
    }

    .topbar-progress{
        padding: 1rem 1rem;
    }
}